.wrapper
  .banner
    .banner__title BONIFICACIÓN #[br] #[span DE BIENVENIDA]
    .banner__info
      .banner__info-top.banner__info-item
        .in 6000 MXN
        .bonus
          .bonus__top 6000 MXN
          .bonus__bottom al depositar
        .in 6000 MXN
        .in 6000 MXN
        .in 6000 MXN
      .banner__info-bottom.banner__info-item
        .in 1200 MXN
        .in 1200 MXN
        .bonus
          .bonus__top 1200 MXN
          .bonus__bottom sin riesgo
        .in 1200 MXN

