.wrapper
  .banner
    .banner__title BONIFICACIÓN #[br] #[span DE BIENVENIDA]
    .banner__info
      .banner__info-top.banner__info-item
        .in 1200 PEN
        .bonus
          .bonus__top 1200 PEN
          .bonus__bottom al depositar
        .in 1200 PEN
        .in 1200 PEN
        .in 1200 PEN
      .banner__info-bottom.banner__info-item
        .in 250 PEN
        .in 250 PEN
        .bonus
          .bonus__top 250 PEN
          .bonus__bottom sin riesgo
        .in 250 PEN

